*.o
*.d
*.map
*.nmap
t2_os/Debug
t2_os/.ver
t2_os/.config
t2_os/tools/generate/config.json
t2_os/tools/generate/*.cpr
t2_os/tools/generate/*.out
t2_os/tools/generate/*.bin
!t2_os/tools/generate/t2_bootloader.bin
!t2_os/tools/generate/t2_bootloader_enc.bin
!t2_os/tools/generate/package.bin
qt_proj/
gcc-arm-none-eabi-10.3-2021.10
#
CatalogKconfig

t2_os/.app